@import "calc.header.css";
@import "calc.screen.css";
@import "calc.keyboard.css";

.calc {
  min-width: 30vw;
  width: 27vw;
  margin: 1em 0;
  position: relative;
}

@media (max-width: 1180px) {
  .calc {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .calc {
    width: 90vw;
  }
}
