/* width */
::-webkit-scrollbar {
  height: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.625em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--key-bg-sec);
  border-radius: 0.625em;
}
